.box{
    width: 100px;
    height: 100px;
    border-radius: 50px 50px 50px 50px;
    background-color: plum;
    animation: moving-box 2s infinite alternate;
}
    @keyframes moving-box {
        from{
            transform:translateX(0)
        }
        to{
            transform:translateY(300px)
        }
        
    }